.product-add-button {
  border-radius: 100%;
  transition: .4s;
  width: 3vw;
  height: 3vw;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.product-add-button:hover {
  -webkit-box-shadow: 1px 0px 15px -6px #000000; 
  box-shadow: 1px 0px 15px -6px #000000;
  cursor: pointer;
}

.product-add-button img {
  width: 3vw;
}

.box-alert {
  background-color: #02394A;
  padding: 10px;
  color: white;
  border-radius: 4px;
}

.product-card {
  display: flex;
  transition: .4s;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 8px;
  position: relative;
}

.product-card-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 5px 5px;
  border-radius: 8px;
  font-size: .7vw;
  font-weight: 300;
  background-color: #02394A;
}

.product-card-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 5px 5px;
  border-radius: 8px;
  font-size: .7vw;
  font-weight: 300;
  background-color: #02394A;
}

.product-card-quantity-icon{
  width: .9vw !important;
  filter: invert(100%);
  margin-right: 5px;
}

.product-card img {
  width: 80%;
}

.product-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 0px 15px -6px #000000; 
  box-shadow: 1px 0px 15px -6px #000000;
}

.edit-button:hover {
  cursor: pointer;
  border: 1px solid #02394A;
}

.edit-button {
  background-color: #FF8D00;
  padding: 5px 0px;
  width: 48.8%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: .4s;
}

.delete-button:hover {
  cursor: pointer;
  border: 1px solid #02394A;
}

.delete-button {
  background-color: #ff2f00;
  padding: 5px 0px;
  width: 48.8%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: .4s;
}